*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-background{
    background-color: azure;
    color: aqua;
}
.running-text{
    font-size: 26px;
    color: red;
    background-color: blue;
}
